* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.nav-contain {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px rgb(184, 184, 184);
}

.hamburger {
    margin-right: 1em;
}